<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

<title>Registration</title>
</head>
<body>
	<div id="page" layout:fragment="content">
		<div class="container" style="text-align: center">

			<h1>Welcome to the Zooplus Currency Converter!</h1>

			<div class="row" style="padding-top: 40px">
				<div class="col-lg-4">
					<h3>Avaliable Currencies</h3>
					<p>Here you can see all the currencies available for conversion!</p>
					<p>Also, configure which currencies you want to use for searches.</p>
					<p>
						<a class="btn btn-success" href="/exchange/currencies" role="button">Check</a>
					</p>
				</div>
				<div class="col-lg-4">
					<h3>Today Exchange</h3>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
						massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
					<p>
						<a class="btn btn-success" href="/exchange/current" role="button">View details »</a>
					</p>
				</div>
				<div class="col-lg-4">
					<h3>Historical Exchange</h3>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce
						dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
					<p>
						<a class="btn btn-success" href="/exchange/historical" role="button">View details »</a>
					</p>
				</div>
			</div>
			
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="exchange : ${topTen}">
						<td th:text="${exchange.date}"></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

</body>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</html>